{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load account %}
{% load socialaccount %}
{% block content %}


<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Sign Up</h5>
            <form method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
              <div class="form-floating mb-3">
                {% render_field form.email type="email" class="form-control" id="floatingInput" placeholder="name@example.com" %}
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                {% render_field form.password1 type="password" class="form-control" id="floatingPassword" placeholder="Enter Your Password" %}
                
                <label for="floatingPassword">Password</label>
              </div>

              <div class="form-floating mb-3">
                {% render_field form.password2 type="password" class="form-control" id="floatingPassword" placeholder="Enter Your Password" %}
                
                <label for="floatingPassword">Password Again</label>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign
                  Up</button>
              </div>

              <hr class="my-4">
              <div class="row mt-3">
                
                <div class="col-6 text-right">
                  <a href="{% url 'custom-login' %}">
                    <small>Already have anaccount?</small>
                  </a>
                </div>

                <div class="col-6">
                  
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}