{% load my_tags %}
<nav class="navbar navbar-expand-md navbar-dark {% if not request|sitesetting%}bg-dark{% endif %}" 
{% if request|sitesetting %}{% for i in request|sitesetting %}style="background-color: {{i.nav_color}} !important;"{% endfor %}{% endif %} >
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            {% if request|sitesetting %}
                {% for i in request|sitesetting %}
                    {{i.title}} 
                {% endfor %}
            {% else %}
                My Site 
            {% endif %}
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Accounts
                    </a>
                    <!-- Here's the magic. Add the .animate and .slideIn classes to your .dropdown-menu and you're all set! -->
                    <div class="dropdown-menu dropdown-menu-end animate slideIn" aria-labelledby="navbarDropdown">
                        {% if request.user.is_authenticated %}
                        
                            {% if request.user.is_superuser %}
                                <a class="dropdown-item" href="{% url 'site-setting' %}">Site Setting</a>
                                <a class="dropdown-item" href="/admin" target="_blank">Admin Zone</a>
                            {% endif %}
                        <a class="dropdown-item" href="{% url 'user-profile' %}">My Profile</a>
                        <a class="dropdown-item" href="{% url 'account_change_password' %}">Change Password</a>
                        <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'custom-login' %}">Login</a>
                        <a class="dropdown-item" href="{% url 'account_signup' %}">Signup</a>
                        {% endif %}


                        <!-- <div class="dropdown-divider"></div> -->

                    </div>
                </li>
            </ul>

        </div>
        <li class="nav-item">
            <select aria-label="Select A Timezone" id="time-zone">
                {% for i in request|all_time_zone %}
                    <option value="{{i}}" {% if request|current_time_zone == i %}selected{% endif %}>{{i}}</option>
                {% endfor %}
              </select>
        </li>
    </div>
</nav>